@model VacationSplit.Models.User

<div class="card">
    <div class="card-header text-center">
        <h3>Edit User Details</h3>
    </div>
    <div class="card-body">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            
            <input type="hidden" asp-for="ProfileImage" />

            <div class="form-group">
                <label asp-for="ProfileImg" class="control-label">Profile Image</label>
                <input type="file" name="ProfileImg" class="form-control" onchange="previewImage(event)" />
                <img id="preview" src="@Url.Content(Model.ProfileImage)" width="200" />
                <span asp-validation-for="ProfileImg" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Ville" class="control-label">Ville</label>
                <input asp-for="Ville" class="form-control" />
                <span asp-validation-for="Ville" class="text-danger"></span>
            </div>

            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary">Save</button>
                <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('preview');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        }

    </script>
}
