@model VacationSplit.Models.User

<div>
    <h4>Login successful !</h4> 
         
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Felicitation vous êtes connecter avec  L'adresse: @Html.DisplayFor(model => model.Email) </p>
</div>
<div>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    <a asp-action="Account/Index">Back to List</a>
</div>
