@model VacationSplit.Models.User

<div>
    <h4>You have failed me for the last time</h4>
    <h4>The following information is incorrect.</h4>
   
</div>
<div>    
    <a asp-action="Index">Back to connexion Form</a>
</div>
