@model VacationSplit.Models.User

<div>
    <h4>Oups !</h4>
    <h4>Nous n'avons pas pu trouver de compte pour cette adresse e-mail et ce mot de passe. </h4>
   
</div>
<div>    
    <a asp-action="Index">Retour au formulaire de connexion</a>
</div>
