@model VacationSplit.ViewsModel.ExpenseCreateViewModel
<style>
body ,html{
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;  
}

.card {
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
    background-color: #fff;
    overflow: hidden;
}

.card-header {
    background: #595959;
    border-radius: 10px 10px 0 0;
    color: #FFF;
    padding: 10px;
    font-size:1.5em;
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
    flex-grow:1;
}

.image-container {
    flex: 1 0 10%;
    border-right: 1px solid #ddd;
    display: flex;
    align-items:centre;
    justify-content:center;
    border-right: 1px solid #ddd;
    overflow: hidden;
    margin-right: 20px;
}

.form-container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 20px;
    border: 2px solid #ddd; 
    border-radius: 5px; 
    margin-left: 20px
}

.form-group:last-of-type {
    margin-bottom: 50px; 
}

.control-label {
    font-weight: bold;
    font-size:1.1em;
    display:block;
    margin-bottom:10px;
    color: rgba(0, 0, 0, 0.7);
}

.form-control, .btn {
    border-radius: 5px;
    padding:10px;
    font-size:1.1em;
    background: rgba(255, 255, 255, 0.5);
    background: #fff;
    transition: box-shadow .3s, background .3s;
    border: 1px solid #ddd;
     font-family: 'Montserrat', sans-serif;
     color: rgba(0, 0, 0, 0.7);
}

.form-control:focus, .btn:focus {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.1);
    background: transparent;
    color: rgba(0, 0, 0, 0.7);
}

.btn-primary {
    background: #ff8c00;
    border : none;
    color: #FFF;
    padding: 10px 20px;
    transition:all 0.5s;
}

.btn-primary:hover {
    background: #e87928;
    opacity: 0.9;
}

.text-primary {
    color: #2F4F4F !important;
}

.text-danger {
    color: red;
    font-weight:bold;
}

.image-container img {
    height:100%;
    object-fit:cover;
}

@@media only screen and (max-width: 800px) {
    .card-body {
        flex-direction: column;
    }

    .image-container, .form-container {
        height: auto;
        flex: none;
    }

    .image-container img {
        height: auto; 
        width:100%;
    }
}
</style>

<div class="card">
    <div class="card-header text-center">
        <h3>Ajouter une dépense</h3>
    </div>
    <div class="card-body">
        <div class="image-container">
            <img src="~/img/image_720-3.png" alt="Image Description">
        </div>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DateExpense" class="control-label">Date de dépense :</label>
                    <input asp-for="DateExpense" class="form-control" value="@DateTime.UtcNow" />
                    <span asp-validation-for="DateExpense" class="text-danger"></span>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <dib class="form-group">
                    @*@Html.LabelFor(x => Model.SelectedCategoryId, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label asp-for="DateExpense" class="control-label">Catégorie :</label>
                    @Html.DropDownListFor(m => m.SelectedCategoryId, new SelectList(Model.Categories, "Value","Text"), htmlAttributes: new { @class = "form-control", id = "Category"})
                    @Html.ValidationMessageFor(x => x.SelectedCategoryId, "", new { @class = "text-danger" })
                </dib>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label">Le montant : </label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Sauvegarder" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
